<div class="footer"  >
  <div style="width: 10%; height:600px ;background-color: black;color: aliceblue; padding-top: 70px; float: left;  "></div>
  <div  class="abcd" style="width: 20%; color:white; height:600px ;background-color:black;  float: left;  ">
      <label style=" margin-left: 30px; margin-bottom: -20px; color: orange;font-size: 17px;font-family: 'Times New Roman', Times, serif; font-weight: bold">&copy;ABOUT S4 TEAs </label><br><br>
      
      <img src="../../assets/s4Teas.png" style="height: 100px; width: 50%; opacity : 0.6;"> <br>


      <label style="margin-top: 20px; line-height: 1.8;font-size: 15px;">Being the first tea room in southern India, S4 TEAs began with just 15 varieties of tea, and now it brews over 150+ varieties of tea from around the world! Every leaf is handpicked from the organic gardens by farmers practicing the Biodynamic cultivation method.
         </label><br>

          <p style="color: rgb(234, 162, 19); margin-left: 100px;margin-top: 80PX;font-family: 'Times New Roman', Times, serif; font-weight: bold">&copy;CONTACT INFO </p>
          <i class="fa-solid fa-tty" style="color: #817d7868; float: left; font-size: 30px; margin-left: 44px;"></i><h5 style="margin-left: 90px;font-size: 15px;">Phone Number:-7447818486</h5>
          <br>
          <i class="fa-regular fa-envelope" style="color: #817d7868; margin-left: 44px;font-size: 30px; float: left;"></i> <h5 style="margin-left: 90px;font-size: 15px;">Email:-ssssteas1111&copy;gmail.com</h5>
          
     
     
   </div>
 
  <div  class="abcd" style="width: 15%; height:600px ;background-color:black;  float: left;  ">
   <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;font-size: 17px;font-family: 'Times New Roman', Times, serif; font-weight: bold">&copy;QUICK LINKS </label><br><br>
   
   <a href="/home" style="color: aliceblue;margin-left: 30px;font-size: 15px; ">  * Home</a><br><br>
   <a href="/aboutus" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * About Us</a><br><br>
   <a href="/ourtea" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * Our Tea</a><br><br>
   <a href="/contactus" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Contact Us</a><br><br>
   <a href="/login" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Login</a><br><br>
   <a href="/register" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Ragister</a><br><br>
  
  
</div>

<div  class="abcd" style="width: 15%; height:600px ;background-color: black;  float: left;  ">
  <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;font-size: 17px;font-family: 'Times New Roman', Times, serif; font-weight: bold">&copy; TEA CATEGORIES</label><br><br>
  
  <a href="/ourtea" style="color: aliceblue;margin-left: 30px; font-size: 15px;">  * Black Tea</a><br><br>
  <a href="/ourtea" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * White Tea</a><br><br>
  <a href="/ourtea" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * Green Tea</a><br><br>
  <a href="/ourtea" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Herbal Tea</a><br><br>
  <a href="/ourtea" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Our teas</a><br><br>
  <!-- <a routerLink="/app-ragister" style="color: aliceblue;margin-left: 30px;font-size: 15px;">* Ragister</a><br><br> -->
 
 
</div>
<div  class="abcd" style="width: 40%; height:600px ;background-color: black;  float: left;  ">
  <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px;color: orange;font-size: 17px;font-family: 'Times New Roman', Times, serif; font-weight: bold">&copy; OUR POLICIES</label><br><br>
  
  <a href="/tandc" style="color: aliceblue;margin-left: 30px; font-size: 15px; ">  * Terms & Conditions</a><br><br>
  <a href="/privacy-policy" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * Privacy Policy</a><br><br>
  <a href="/sdrp" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * Shopping delivery & Refund </a><br><br>
  <a href="/disclaimer" style="color: aliceblue;margin-left: 30px;font-size: 15px;"> * Disclaimer</a><br><br>
  

 
 <img src="../../assets/abc.jpg" style="height: 450px; margin-top:-10px ; margin-right: 10px; opacity: initial;  ">
</div>




</div>
<div  style="height: 70px; width: 100%; background-color:rgb(50, 38, 38); float: left; color: aliceblue;">
  
  <img src="../../assets/s4Teas.png" style="height: 50px; margin-left: 130px; float: left; margin-top: 10px; opacity : 0.8;"><h4 style="color: white; margin-top: 13px; margin-top: 25px;">All Rights Reserved</h4>

</div>