<div style="height: 500px;">    <!-- registration.component.html -->
  <h2 class="registration-title" style="text-align: center; padding-top: 100px; font-size: 50px; font-weight: 500; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40);">Login</h2>

  <div class="container" style="width: 100%; margin: 0 auto;"> <!-- Adjust the width as needed -->
    <div class="col-lg-6" style="height: 400px; width: 30%; float: left; margin-bottom: 220px; margin-right:  80px; opacity:0.8 ;">
      <img src="/assets/selltea.webp" style="width: 100%; height: 100%;">
    </div>
<div class="row" style="width: 30%;">

    

    <div class="col-lg-6 p-5" style="margin-bottom: 150px; ">
       
        <p class="text-center">Dont have an account? <a routerLink="/register" style="color: #e69100; font-family: 'Times New Roman', Times, serif; font-size: 17px;">Create Your Account</a></p>

        <form #registerForm="ngForm" (ngSubmit)="login(registerForm)" class="registration-form">
        
        
        <mat-form-field appearance="outline" class="w-100"style="width: 300px;">
        <mat-label>Email</mat-label>
        <input matInput 
            ngModel 
            name="userName" 
            id="userName" 
            required
            pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
            placeholder="Email" class="form-control">
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="w-100"style="width: 300px;">
        <mat-label>Password</mat-label>
        <input matInput 
          ngModel 
          name="userPassword" 
          id="userPassword" 
          required
          type="password"
          minlength="6"
          placeholder="Password" class="form-control">
          <mat-hint>Password should be atleast 6 characters</mat-hint>
        </mat-form-field>
        
        <br>
        
            <button type="submit" class="btnStyle" color="primary" style="margin-left: -150px; ">Login</button>
        </form>
    </div>
</div>

</div>


</div>
<div class="divider2"  >
  <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
</div>