<div class="about">
<!-- <p style="text-align: center; margin-top: 10px;">Scroll down plz for About us !</p> -->

<div class="parallax"></div>

<div style="height: 700px;background-color:rgb(255, 255, 255);font-size:36px">


  <div >
    <h2>About us</h2>


    <p> After 10 successful years with SSSS Cafe, S4 TEAs now expands the supply chain to an E Platform. Now, our buddies can order online the finest tea and brew at home like connoisseurs. We began our journey as Tea Brewers in S4 TEAs, and now we are extending our hands to provide our customers with the same fine Tea Experience in the comfort of their homes. Mr. Sandesh Kale, whose inspiration was his loving father, Mr. Nana Kale (Sir), a renowned tea maker and taster himself, leads the way!
      <br><br> Being the first tea room in southern India, S4 TEAs began with just 15 varieties of tea, and now it brews over 150+ varieties of tea from around the world! Every leaf is handpicked from the organic gardens by farmers practicing the Biodynamic cultivation method. S4 TEAs sources tea directly from farmers worldwide with utmost love! Sandesh emphasizes that it's love that adds taste to his tea. Every tea served at S4 TEAs is freshly brewed by world-class tea masters! 
    </p>

    
    <div class="a"><h3 > 100% Natural</h3>
   <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Array of Tea at S4 TEAs are sourced directly from the farmers and finest tea producers in Nilgiris, Darjeeling, Assam. Our herbal teas are sourced from Egypt, Germany and Australia.
  </p> 
    </div>

    <div class="a"><h3 style="font: bold;"> Quality Product</h3>
      <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Quality and Servers is the major motto of S4 TEAs, Most of the teas at S4 are picked from the organic farm and Bio Dynamic Cultivation practicing farmers.
     </p> 
       </div>

    <div class="a"><h3 style="font: bold;"> Unique Taste</h3>
    <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Experience like never before.
    </p> 
    </div>

</div>
</div>
</div>




<!-- <div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div> -->

<h2 style="text-align:center ; font-size: 35px; font-family: 'Times New Roman', Times, serif; font-weight: 600; color: rgb(49, 40, 40); ">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/sk.jpg" alt="Jane" style="width:100%">
      <div class="container">
        <h2> Mr. Sandesh kale</h2>
        <p class="title">CEO & Founder</p>
        <p>S4 TEAs Director mastermind of bussiness</p>
        <p>sandeshkale6711&copy;gmail.com</p>
        <p><a href="/app-contactus"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/sy.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>MR. Saurabh Yadav</h2>
        <p class="title">Partner</p>
        <p> Deginer of S4 TEAs and S4 TEAs products</p>
        <p>saurbhyadav&copy;gmail.com</p>
        <p><a href="/app-contactus"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/sp.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>Mr. Shivam pawar</h2>
        <p class="title">Partner</p>
        <p>Handel the S4 TEAs all Bussiness</p>
        <p>shivampawar822&copy;gmail.com</p>
        <p><a href="/app-contactus"><button class="button">Contact</button></a></p>
      </div>
    </div>
  </div>
</div>




<!-- ------------- -->
<!-- <div class="footer"  >
  <div style="width: 10%; height:700px ;background-color: black;color: aliceblue; padding-top: 70px; float: left;  "></div>
  <div  class="abcd" style="width: 20%; color:white; height:700px ;background-color:black;  float: left;  ">
      <label style=" margin-left: 30px; margin-bottom: -20px; color: orange;">&copy;ABOUT DANJOTEAS </label><br><br>
      
      <img src="../../assets/s4Teas.png" style="height: 100px; width: 50%;"> <br>


      <label style="margin-top: 20px; line-height: 1.8;">Being the first tea room in southern India,
          Danjo teas began with just 15 varieties of
          tea and right now it brews over 60+ varieties
          of tea from around the world! Every leaf is
          handpicked from the organic gardens by the
          farmers who practice Biodynamic cultivation
          method.</label><br>

          <p style="color: rgb(234, 162, 19); margin-left: 100px;margin-top: 80PX;">&copy;CONTACT INFO </p>
          <h5 style="margin-left: 90px;">Phone Nummber:-7447818486</h5>
          <h5 style="margin-left: 90px;">Email:-saurabhyadav&copy;gmail.com</h5>
          
     
     
   </div>
 
  <div  class="abcd" style="width: 15%; height:700px ;background-color:black;  float: left;  ">
   <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;">&copy;QUICK LINKS </label><br><br>
   
   <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
   <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
   <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>
   <a routerLink="/app-contact" style="color: aliceblue;margin-left: 30px;">* Contact Us</a><br><br>
   <a routerLink="/app-login" style="color: aliceblue;margin-left: 30px;">* Login</a><br><br>
   <a routerLink="/app-ragister" style="color: aliceblue;margin-left: 30px;">* Ragister</a><br><br>
  
  
</div>

<div  class="abcd" style="width: 15%; height:700px ;background-color: black;  float: left;  ">
  <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;">&copy; TEA CATEGORIES</label><br><br>
  
  <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
  <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
  <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>
  <a routerLink="/app-contact" style="color: aliceblue;margin-left: 30px;">* Contact Us</a><br><br>
  <a routerLink="/app-login" style="color: aliceblue;margin-left: 30px;">* Login</a><br><br>
  <a routerLink="/app-ragister" style="color: aliceblue;margin-left: 30px;">* Ragister</a><br><br>
 
 
</div>
<div  class="abcd" style="width: 40%; height:700px ;background-color: black;  float: left;  ">
  <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px;color: orange;">&copy; OUR POLICIES</label><br><br>
  
  <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
  <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
  <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>

 
 <img src="../../assets/abc.jpg" style="height: 450px; margin-top:-10px ; margin-left: 10px;">
</div>




</div>
<div  style="height: 90px; width: 100%; background-color:rgb(50, 38, 38); float: left; color: aliceblue;">
  
  <img src="../../assets/s4Teas.png" style="height: 50px; margin-left: 70px; float: left;"><h4 style="color: white; margin-top: 13px;">All Rights Reserved</h4>

</div> -->

<!-- ------------ -->






<!-- <div s>
    <h2>About us</h2>


    <p> After 10 successful years with SSSS Cafe, S4 TEAs now expands the supply chain to an E Platform. Now, our buddies can order online the finest tea and brew at home like connoisseurs. We began our journey as Tea Brewers in S4 TEAs, and now we are extending our hands to provide our customers with the same fine Tea Experience in the comfort of their homes. Mr. Sandesh Kale, whose inspiration was his loving father, Mr. Nana Kale (Sir), a renowned tea maker and taster himself, leads the way!
      <br><br> Being the first tea room in southern India, S4 TEAs began with just 15 varieties of tea, and now it brews over 150+ varieties of tea from around the world! Every leaf is handpicked from the organic gardens by farmers practicing the Biodynamic cultivation method. S4 TEAs sources tea directly from farmers worldwide with utmost love! Sandesh emphasizes that it's love that adds taste to his tea. Every tea served at S4 TEAs is freshly brewed by world-class tea masters! 
    </p>

    
    <div class="a"><h3 > 100% Natural</h3>
   <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Array of Tea at S4 TEAs are sourced directly from the farmers and finest tea producers in Nilgiris, Darjeeling, Assam. Our herbal teas are sourced from Egypt, Germany and Australia.
  </p> 
    </div>

    <div class="a"><h3 style="font: bold;"> Quality Product</h3>
      <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Quality and Servers is the major motto of S4 TEAs, Most of the teas at S4 are picked from the organic farm and Bio Dynamic Cultivation practicing farmers.
     </p> 
       </div>

    <div class="a"><h3 style="font: bold;"> Unique Taste</h3>
    <p style="margin: 5px; margin-left: 200px; margin-right: 200px; ">Experience like never before.
    </p> 
    </div>
   

    
  </div> -->
  