<!-- app-our-tea.component.html -->

<div style="height: 5000px;"> 
    <div style="height: 750px;">
   <h2 class="registration-title" style="text-align: center; padding-top: 100px; font-size: 45px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40);">Our Tea</h2>
   <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40);">Black Tea</h3>

   <div class="divider2"  >
     <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
   </div> 
<br><br>
   <div class="row" style="height: 500px;">
       <div class="column" >
         <div class="card">
           <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Black tea, Clone Tip</p>
           <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Clone-Tip</h2>
           <img src="/assets/Clone-Tip.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
         <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 / Pack</h3>
              <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">350.00</label>
              <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">499.00</label></h4>
              </h4>
   
         </div>
       </div>

         <div class="column" >
         <div class="card">
           <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Black tea, Rare muscatel gold</p>
           <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Rare muscatel gold</h2>
           <img src="/assets/Rare-Gold.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
         <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
              <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">350.00</label>
              <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">650.00</label></h4>
              </h4>
   
         </div>
       </div>

       <div class="column" >
           <div class="card">
             <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Black tea, Earl grey</p>
             <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Earl grey</h2>
             <img src="/assets/EarlGray.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
                <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">450.00</label>
                <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">735.00</label></h4>
                </h4>
     
           </div>
         </div>


         <div class="column" >
           <div class="card">
             <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Black tea, Hand Made Black Tea</p>
             <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Handmade Black tea</h2>
             <img src="/assets/Handmade-Black-Tea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
           <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 80 / Pack</h3>
                <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">999.00</label>
                <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1250.00</label></h4>
                </h4>
     
           </div>
         </div>
    </div>
<!------------- White Tea ---------------->

         <div style="height: 700px; ">
          <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">White  Tea</h3>

         <div class="divider2"  >
           <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
         </div> 
     <br><br>
         <div class="row" style="height: 500px;">
           <div class="column" >
               <div class="card">
                 <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Niligiri White tea, White tea</p>
                 <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Niligiri White tea
               </h2>
                 <img src="/assets/HandmadeWhiteTea (1).webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
               <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
                    <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">550.00</label>
                    <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">866.00</label></h4>
                    </h4>
         
               </div>
             </div>
     
               <div class="column" >
               <div class="card">
                 <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Handmade White Tea, White tea</p>
                 <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Handmade White Tea</h2>
                 <img src="/assets/NilgiriWhiteTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
               <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
                    <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">1500.00</label>
                    <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">2400.00</label></h4>
                    </h4>
         
               </div>
             </div>
     
   

           </div>

     
</div>
   
<!------------- Green  Tea ---------->

         <div style="height: 700px; ">
          <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Green Tea</h3>

         <div class="divider2"  >
           <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
         </div> 
     <br><br>
         <div class="row" style="height: 500px;">
             <div class="column" >
               <div class="card">
                 <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"> Green tea, Handmade Green Tea</p>
                 <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Handmade green Tea
               </h2>
                 <img src="/assets/Handmade-Green-Tea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
               <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 70 / Pack</h3>
                    <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">850.00</label>
                    <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">990.00</label></h4>
                    </h4>
         
               </div>
             </div>
     
               <div class="column" >
               <div class="card">
                 <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Green tea, Virgin Green Tea</p>
                 <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Virgin Green Tea</h2>
                 <img src="/assets/VirginGreenTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
               <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
                    <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">550.00</label>
                    <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">777.00</label></h4>
                    </h4>
         
               </div>
             </div>
     
             <div class="column" >
                 <div class="card">
                   <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Green tea, Rose Green tea</p>
                   <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Rose Green Tea</h2>
                   <img src="/assets/RoseGreenTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
                 <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
                      <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">400.00</label>
                      <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">555.00</label></h4>
                      </h4>
           
                 </div>
               </div>
     
     
              

           </div>

     
</div>

  
<!------------- Herbal  Tea ---------->

<div style="height: 700px; ">
   <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Herbal Infusion
   </h3>

  <div class="divider2"  >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
<br><br>
  <div class="row" style="height: 500px;">
      <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Chamomile, Herbal Infusion</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Chamomile</h2>
          <img src="/assets/PureCammomile.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 40-50 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">600.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">800.00</label></h4>
             </h4>
  
        </div>
      </div>

        <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Herbal Infusion, Lemon Grass</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Lemongrass</h2>
          <img src="/assets/LemonGrass.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">300.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">600.00</label></h4>
             </h4>
  
        </div>
      </div>

      <div class="column" >
          <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Herbal Infusion, Pepper mint</p>
            <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Peppermint</h2>
            <img src="/assets/PepperMintTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
          <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
               <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">650.00</label>
               <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1350.00</label></h4>
               </h4>
    
          </div>
        </div>


        <div class="column" >
          <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"> Lemon Grass</p>
            <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Lemongrass</h2>
            <img src="/assets/Lemon-Grass1.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
          <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 250 / Pack</h3>
               <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">1500.00</label>
               <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">2499.00</label></h4>
               </h4>
    
          </div>
        </div>

    </div>


</div>


<!------------- flaveried Tea ---------------->

<div style="height: 700px; ">
   <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Flavoured tea</h3>

  <div class="divider2"  >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
<br><br>
  <div class="row" style="height: 500px;">
    <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Flavored Tea, Peach</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Peach
        </h2>
          <img src="/assets/PeachTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 40-50 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">400.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">600.00</label></h4>
             </h4>
  
        </div>
      </div>

        <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Flavored Tea, Masala chai/</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Masala Chai</h2>
          <img src="/assets/IndianMasalaTea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 125 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">475.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">600.00</label></h4>
             </h4>
  
        </div>
      </div>



    </div>


</div>

<!------------- fruit  Tea ---------->

<div style="height: 700px; ">
   <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Fruit Flavaour 
   </h3>

  <div class="divider2"  >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
<br><br>
  <div class="row" style="height: 500px;">
      <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Fruit Flavaour</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Hibiscus</h2>
          <img src="/assets/Hibiscus-Tea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas :50-70 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">450.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">500.00</label></h4>
             </h4>
  
        </div>
      </div>

        <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Fruit Flavour, Old memories
       </p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Old memories
       </h2>
          <img src="/assets/OldMemories.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">750.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1150.00</label></h4>
             </h4>
  
        </div>
      </div>

      <div class="column" >
          <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Curvy Hips, Fruit Flavour</p>
            <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Curvy hips</h2>
            <img src="/assets/Curvy-Hips-1.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
          <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
               <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">650.00</label>
               <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1500.00</label></h4>
               </h4>
    
          </div>
        </div>


        <div class="column" >
          <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;"> Fruit Flavour, Rose Buddy</p>
            <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Rose Buddy</h2>
            <img src="/assets/Rose-Buddy-1.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
          <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 250 / Pack</h3>
               <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">650.00</label>
               <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1150.00</label></h4>
               </h4>
    
          </div>
        </div>
    </div>
</div>




<!------------- Exclusive  Tea ---------->

<div style="height: 700px; ">
   <h3 class="registration-title" style="text-align: center; padding-top: 50px; font-size: 30px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40); ">Exclusive
   </h3>

  <div class="divider2"  >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
<br><br>
  <div class="row" style="height: 500px;">
      <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Exclusive, Premium Fruit Flush</p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Premimum first flush
       </h2>
          <img src="/assets/Premium-First-Flush.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas :50-60 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">255.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">488.00</label></h4>
             </h4>
  
        </div>
      </div>

        <div class="column" >
        <div class="card">
          <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Exclusive, Red Thunder

       </p>
          <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Red Thunder

       </h2>
          <img src="/assets/Red-Thunder-1.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
        <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
             <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">300.00</label>
             <h4 style="text-decoration: line-through; margin-bottom: 40px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">631.00</label></h4>
             </h4>
  
        </div>
      </div>

      <div class="column" >
          <div class="card">
            <p style="font-family: Arial, Helvetica, sans-serif; margin-top: 20px;">Exclusive, Yellow</p>
            <h2 style="font-family: 'Times New Roman', Times, serif; font-weight: 600;  color: red;">Yellow Tea</h2>
            <img src="/assets/Yellow-Tea.webp" style="width: 100%; height: 200px; margin-top: 20px;"> 
          <h3 style="font-weight: 600; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</h3>
               <h4 style="text-align: center;"><i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 20px;"></i>&nbsp;<label style="font-size: 25px; font-family: 'Times New Roman', Times, serif; color: red;">1100.00</label>
               <h4 style="text-decoration: line-through; margin-bottom: 30px"> <i class="fa-solid fa-indian-rupee-sign" style="color: #1a1919; font-size: 10px; margin-left: -10px;"></i>&nbsp;<label style="font-size: 15px; font-family: 'Times New Roman', Times, serif; color: rgb(25, 21, 21);">1250.00</label></h4>
               </h4>
    
          </div>
        </div>


   
    </div>
</div>








</div>