<!-- <div>
<h1>contact</h1>

</div>

<div class="page-container" style="height: 800px;">
    <div class="image-container">
      <img src="/assets/s4new.png" alt="Image Description" style="height: 400px; margin-left: 250px; margin-top: 50px;" >
    </div>
  
   <div class="contact-page">
   
    <h2>CONTACT US</h2>
    <h3>Feel Free To Contact</h3>
  
    <h4>Phone</h4>
    <p>+012 345 6789</p>
  
    <h4>Email</h4>
    <p>infoexample.com</p>
  
    <h1>Address</h1>
    <p>123 Street, New York, USA</p>
  
    <p>Address 123 Street, New York, USA</p>
    <p>CONTACT US Feel Free To Contact</p>
    <p>Phone +012 345 6789</p>
    <p>Email infoexample.com</p>
  </div>
    </div>
  </div>
   -->






   <div  class="fade-in">
    <h2 style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 30px; margin-top: 100px; color:rgb(41, 26, 16) ; font-weight: 600;">CONTACT US</h2>
    <h3  style="text-align: center; font-size: 70px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 50px; color: saddlebrown;">Feel Free To Contact</h3></div>


   <div class="contact-page" style="margin-left: 350px; height: 500px; margin-top: 150px;">
    <img src="/assets/s4new.png" alt="Contact Image" style="float: left; margin-right: 20px; height: 400px; opacity: 0.7;">

<br>
  
<h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-phone"></i> Phone</h4>
<p  style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-left: 10px; ">Call time 9:00 AM / 8:00 PM</p>
<p  style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; ">+012 345 6789</p>

    <br>
    <br>
    <h4 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;" ><i class="far fa-envelope"></i> Email</h4>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">ssssteas1111&copy;gmail.com</p>

    <br>
    <br>
    <h1 style="font-size: 35px; color:rgb(74, 46, 28) ; font-family: 'Times New Roman', Times, serif;"><i class="fas fa-map-marker-alt"></i>Address</h1>
    
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px; margin-top: 25px;">S4 TEAs , Mayur Trade Centere</p>

    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 20px;">Pimpri-Chinchwad Pune</p>
   
</div>

<div class="social-media-container" style="height: 125px;">
    <p  style=" font-family: 'Times New Roman', Times, serif; text-align: center; font-size: 35px; margin-top: 100px;  font-weight: 600;"><b style="color:rgb(41, 26, 16) ;">Connect With Us Socially</b></p>
    <br>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" >
        <!-- <img src="/assets/fb.jpg" alt="Facebook" > -->
        <i class="fa-brands fa-facebook fa-2xs" style="color: #f1a379; "></i>
    </a>
    <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer">
        <!-- <img src="/assets/tw.jpg" alt="Twitter"> -->
        <i class="fa-brands fa-twitter"style="color: #f1a379;"></i>
 

     
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <!-- <img src="/assets/ins.jpg" alt="Instagram" > -->
        <i class="fa-brands fa-instagram" style="color: #f1a379;"></i>
    </a>
    <!-- Add more social media icons as needed -->
</div>