<div style="height: 1600px;width: 100%; ">
    
    <img src="/assets/s4newlogo.png" alt="Snow" style="width: 50%;  opacity: 0.2; margin-left: 25%; margin-top: 100px;">
    <h2 style="text-align: center; margin-top: -1300px; font-family: 'Times New Roman', Times, serif; font-size: 35px;color: rgb(49, 40, 40);font-weight: 600; ">Shipping, Delivery & Refund Policy</h2>
    <div class="divider3" >
        <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px;  "></i>
      </div> 
   
    
     <h4 style="color: black;margin-right: 80px; margin-left: 10%; margin-top: 70px;font-family: Arial, Helvetica, sans-serif; font-size: 17px; line-height:1.5 ; ">All Orders above Rs 999/- shall be eligible for Free Delivery within India (select pin codes and billing value/sub total order value after discount).
 </h4> 
 <br>
 <p style="margin-left: 150px; font-size: 17px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;margin-right: 80px;">Orders received before 12:00 AM IST (Indian Standard Time) usually ship out the same business day. Orders received after this time generally leave the next business day. We deliver within 3 – 7 working days.  Please note that our International delivery partner, DHL/FedEx do not deliver orders on weekends.</p>
 <p style="margin-left: 150px; font-size: 17px; font-family: Arial, Helvetica, sans-serif; margin-right: 80px; line-height: 1.5;">Important Notice (Octroi, Local Inward Taxes and Levies etc.)
    <br> In certain states/cities/zones, local authorities, state or municipal agencies may levy an additional amount as entry fee. We at S4TEAS.com work in a way that the clearance with different authorities and govt. agencies is smooth to ensure that the package reaches you as quickly as possible, but in these specific cases, the additional charge will have to be borne the customer. (Customs): It has come to our notice that the Customs Department in Italy, Costa-Rica and Czech Republic may have begun charging an additional amount as Custom Clearance fee. We at S4TEAS.COM work with the customs clearance departments of different countries to ensure that the package reaches you as quickly as possible, but in these specific cases, the additional charge will have to be borne the customer.
 <br>
   
    <h3 style="margin-left: 160px; font-size: 25px; font-family: 'Times New Roman', Times, serif ;color: rgb(49, 40, 40); margin-top: 40px; font-weight: 500;">REFUND POLICY</h3>
<br>
    <p style="margin-left: 10% ; font-size: 17px; font-family: Arial, Helvetica, sans-serif  ; margin-right: 80px; line-height:1.5 ;">Our policy lasts 7 days. If 7 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange. To be eligible for a return, your item must be unused and in the same condition
    <br>'that you received it. It must also be in the original packaging. Several types of goods are exempt from being returned.'
    </p>

<p style="margin-left: 10% ; font-size: 17px; font-family: Arial, Helvetica, sans-serif   ; margin-right: 80px;  line-height:1.5 ;">Additional non-returnable items:
<br> * Accessoriess
<br> * Breakages on transport.
<br> To complete your return, we require a receipt or proof of purchase. Please do not send your purchase back to the manufacturers, unless its been called for. There are certain situations where only partial refunds are granted: (if applicable)
</p>

<br>
<p style="margin-left: 10% ; font-size: 17px; font-family: Arial, Helvetica, sans-serif   ; margin-right: 80px;  line-height:1.5 ;">Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
<br>Any item that is returned more than 7 days after delivery Refunds (if applicable) Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the  approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of  payment, within a certain amount of days. Late or missing refunds (if applicable)
</p>

<br>
<p style="margin-left: 10% ; font-size: 17px; font-family: Arial, Helvetica, sans-serif   ; margin-right: 80px;  line-height:1.5 ;">If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please  contact us at [ssssteas1111&copy;gmail.com]. Sale items (if applicable)
<br>Only regular priced items may be refunded, unfortunately sale items cannot be refunded.
<br>Exchanges (if applicable) We only replace items if they are defective or damaged. If you need to
exchange it for the same item, send us an email at [ssssteas1111&copy;.com] and send your item to: Edubridge , Mayur Trade Center , Pimpri-Chinchwad , Pune 415501.
</p>

<br>
    <p style="margin-left: 10% ; font-size: 17px; font-family: Arial, Helvetica, sans-serif  ; margin-right: 80px; line-height:1.5 ;">You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
    <br>Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
    <br>If you are shipping an item over 999 INR, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
    </p>



<div class="divider2" >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
  </div>