  <div class="abc">  <h1 class="fade-in">What is Tea?</h1> 
  <div class="divider">
  <i class="fa-solid  fa-leaf" style="color: #e69100;  font-size: 22px; "></i>
</div>
  <p>Tea is made from leaves of the Camellia sinensis plant, which is a warm weather evergreen shrub of the Camellia family, indigenous to both China and India. The finest whole leaf organic teas use only the top two leaves and bud of the tea plant.
    When left alone in the wild, the Camellia sinensis can grow quite tall, up to 30 feet or more. But for cultivation of tea leaves, the bushes are mostly kept trimmed for easier harvesting. A typical tea bush produces around 3,000 tea leaves per year.
   <br> Tea Types: Tea, like wine, always comes from the same plant, Camellia sinensis. It is in the way that tea is processed that makes it a black, green, or white tea. Red teas and herbal teas, meanwhile, are actually not tea at all. Rather they are simply herbs, fruits or spices – often called “tisanes”.</p></div>
   <div class="abc1"> <img src="/assets/cup.webp " style="height: 363px; margin-top: 140px; margin-left: 90px;" > </div>
   


<div class="container">
    <img src="/assets/htea2.jpg" alt="Snow" style="width:100%;">
  
    <div class="top-right"> <p class="about-us-title"style="margin-left: 950px; margin-right: 10px; font-size: 35px;font-weight: 500;">About us </p> 
        <div> <p  class="transparent-box"style="margin-left: 600px; margin-right: 1px; font-family: Arial, Helvetica, sans-serif; " > S4 TEAs now expands the supply chain to an E Platform. Now, our buddies can order online the finest tea and brew at home like connoisseurs. We began our journey as Tea Brewers in S4 TEAs, and now we are extending our hands to provide our customers with the same fine Tea Experience in the comfort of their homes. Mr. Sandesh Kale, whose inspiration was his loving father, Mr. Nana Kale (Sir), a renowned tea maker and taster himself, leads the way!
            Sandesh's journey with tea began as a kid when his Mom used to take tea stock in a Tea Factory, making his bed with a bunch of warm tea gunny bags. The flavor and aroma of tea leaves revolved around his life. His love for tea motivated him to embark on his journey further with S4 TEAs.
            The evolution of S4 TEAs from a Tea Brewer to now offering 150+ varieties of tea from around the world is impressive. The commitment to sourcing tea directly from farmers practicing Biodynamic cultivation methods speaks to the brand's dedication to quality and sustainability.
            The emphasis on love as the secret ingredient that adds taste to the tea is a beautiful sentiment. It's clear that S4 TEAs not only values the product but also the relationships and stories behind each cup.
            Wishing S4 TEAs continued success under the leadership of Mr. Sandesh Kale, Mr. Saurabh Yadav, Mr. Shivam Pawar, and Mr. Saurabh Bodhe as they bring the joy of fine tea to even more homes through their expanded online platform. May the next chapter in their journey be as rich and flavorful as the teas they offer!
            </p></div>

    </div> 
  </div>

  <div class="additional-content">
    <h2 style="margin-left: 410px;">
        Tea is a drink of health & beauty for you</h2>
    <!-- <p style="margin-top: 60px;">Explore our wide range of teas carefully curated for a delightful experience. From traditional blends to exotic flavors, we have something for every tea enthusiast.</p> -->
  </div>
  <div class="divider1" >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px;"></i>
  </div>

  <!-- <div class="additional-content">
    <h2 style="margin-left: 410px;">
        Tea is a drink of health & beauty for you
        <i class="fas fa-coffee"></i>
    </h2>
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 17px;">Explore our wide range of teas carefully curated for a delightful experience. From traditional blends to exotic flavors, we have something for every tea enthusiast.</p>
</div> -->
<div style="height: 500px; width: 80%; margin-left: 10%; margin-top: 30px;">
<div class="responsive">
  <div class="gallery">
    <!-- <a target="_blank" href="/assets/greentea.jpeg.jpg"> -->
      <img src="/assets/greentea.jpeg.jpg" alt="Cinque Terre">
    <!-- </a> -->
    <div class="desc"><a routerLink="/app-ourtea">Handmade green tea</a> <br><br><label style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</label>
      <br> <br> <i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 17px;"></i>&nbsp;<label style="font-size: 17px; font-family: 'Times New Roman', Times, serif; color: red;">399.00</label>
  </div>
  </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="/assets/leaf.jpeg.jpg"> -->
        <img src="/assets/leaf.jpeg.jpg" alt="Forest">
      <!-- </a> -->
      <div class="desc"> <a routerLink="/app-ourtea">Black tea</a><br><br><label style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50  / Pack</label>
        <br> <br> <i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 17px;"></i>&nbsp;<label style="font-size: 17px; font-family: 'Times New Roman', Times, serif; color: red;">350.00</label></div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="/assets/whitetea.webp">
        <img src="/assets/whitetea.webp" alt="Northern Lights">
      </a>
      <div class="desc"> <a routerLink="/app-ourtea">Handmade White Tea</a><br><br><label style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 80 / Pack</label>
        <br> <br> <i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 17px;"></i>&nbsp;<label style="font-size: 17px; font-family: 'Times New Roman', Times, serif; color: red;">999.00</label></div>
    </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <!-- <a target="_blank" href="/assets/herbaltea.jpeg"> -->
        <img src="/assets/herbaltea.jpeg.jpg" alt="Mountains">
      <!-- </a> -->
      <div class="desc"><a routerLink="/app-ourtea">Herbal Infusion</a><br><br><label style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">Cups of teas : 50 - 60 / Pack</label>
        <br> <br> <i class="fa-solid fa-indian-rupee-sign" style="color: #fb3232; font-size: 17px;"></i>&nbsp;<label style="font-size: 17px; font-family: 'Times New Roman', Times, serif; color: red;">479.00</label></div>
    </div>
  </div>
  
  <div class="clearfix"></div>
</div>

<div class="fts" >
    <h2 style="margin-left: 565px;">
        From the Shop</h2>

        

        <p style="font-size: 27px; font-family: 'Times New Roman', Times, serif; margin-left: 620px; font-weight: 500; margin-bottom: -30px;">Choose Your taste
        </p>
     </div>
      <div class="divider2" >
        <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px;"></i>
      </div> 
    
        <p style="text-align: center; margin-left: 20px;">We believe tea is endlessly engaging, brings people together, provides a sense of peace and well-being, and grants of a moment to yourself when you most need it. Great tea touches upon art, defines a sense of culture, marks a ritual, and offers a sense of connoisseurship. But a truly remarkable cup of tea is one which enhances the everyday.</p>




<div style="height: 400px; width: 100%;">
<div class="abc" style="height: 300px; width: 100%; background-color:#DCE0E3"><img src="/assets/t1.jpeg"></div>
<!-- <div class="bg-text" style="margin-top: -200px; margin-left: 800px;">TEXT</div> -->

</div>

<div >


    <div style="height: 750px;">
<div class="teablog" style="height: 50px;">
<p >Our New Product Comming Soon</p>
<h2 style="text-align: center; font-size: 100px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; margin-top: 40px; color: saddlebrown;">S4 COFFEE</h2>

</div>
<div class="containerournewp">
    <img src="/assets/coffe.png" alt="Notebook" style="width:100%;">
   
  </div>
</div>


  <!-- footer -->
  <!-- <div class="footer"  >
    <div style="width: 10%; height:700px ;background-color: black;color: aliceblue; padding-top: 70px; float: left;  "></div>
    <div  class="abcd" style="width: 20%; color:white; height:700px ;background-color:black;  float: left;  ">
        <label style=" margin-left: 30px; margin-bottom: -20px; color: orange;">&copy;ABOUT DANJOTEAS </label><br><br>
        
        <img src="../../assets/s4Teas.png" style="height: 100px; width: 50%;"> <br>
  
  
        <label style="margin-top: 20px; line-height: 1.8;">Being the first tea room in southern India,
            Danjo teas began with just 15 varieties of
            tea and right now it brews over 60+ varieties
            of tea from around the world! Every leaf is
            handpicked from the organic gardens by the
            farmers who practice Biodynamic cultivation
            method.</label><br>
  
            <p style="color: rgb(234, 162, 19); margin-left: 100px;margin-top: 80PX;">&copy;CONTACT INFO </p>
            <h5 style="margin-left: 90px;">Phone Nummber:-7447818486</h5>
            <h5 style="margin-left: 90px;">Email:-saurabhyadav&copy;gmail.com</h5>
            
       
       
     </div>
   
    <div  class="abcd" style="width: 15%; height:700px ;background-color:black;  float: left;  ">
     <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;">&copy;QUICK LINKS </label><br><br>
     
     <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
     <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
     <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>
     <a routerLink="/app-contact" style="color: aliceblue;margin-left: 30px;">* Contact Us</a><br><br>
     <a routerLink="/app-login" style="color: aliceblue;margin-left: 30px;">* Login</a><br><br>
     <a routerLink="/app-ragister" style="color: aliceblue;margin-left: 30px;">* Ragister</a><br><br>
    
    
  </div>
  
  <div  class="abcd" style="width: 15%; height:700px ;background-color: black;  float: left;  ">
    <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px; color: orange;">&copy; TEA CATEGORIES</label><br><br>
    
    <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
    <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
    <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>
    <a routerLink="/app-contact" style="color: aliceblue;margin-left: 30px;">* Contact Us</a><br><br>
    <a routerLink="/app-login" style="color: aliceblue;margin-left: 30px;">* Login</a><br><br>
    <a routerLink="/app-ragister" style="color: aliceblue;margin-left: 30px;">* Ragister</a><br><br>
   
   
  </div>
  <div  class="abcd" style="width: 40%; height:700px ;background-color: black;  float: left;  ">
    <label style="padding-top: 60px; margin-left: 30px; margin-top: 20px;color: orange;">&copy; OUR POLICIES</label><br><br>
    
    <a routerLink="/app-home" style="color: aliceblue;margin-left: 30px; ">  * Home</a><br><br>
    <a routerLink="/app-about-us" style="color: aliceblue;margin-left: 30px;"> * About Us</a><br><br>
    <a routerLink="/app-our-tea" style="color: aliceblue;margin-left: 30px;"> * Our Tea</a><br><br>
  
   
   <img src="../../assets/abc.jpg" style="height: 450px; margin-top:-10px ; margin-left: 10px;">
  </div>
  
  
  
  
  </div>
  <div  style="height: 50px; width: 100%; background-color:rgb(50, 38, 38); float: left; color: aliceblue;">
    
    <img src="../../assets/s4Teas.png" style="height: 50px; margin-left: 70px; float: left;"><h4 style="color: white; margin-top: 13px;">All Rights Reserved</h4>
  
  </div> -->