<div > 
      
    <h2 class="registration-title" style="text-align: center; padding-top: 100px; font-size: 35px; font-weight: 600; font-family: 'Times New Roman', Times, serif; color: rgb(49, 40, 40);">All Orders Information</h2>
    <div class="divider2"  >
      <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
    </div> 


<div class="bgColor" style="height: 700px;">
    <div class="container mt-5 " style="width: 80%; margin-left:200px;">
    
    
        <mat-button-toggle-group  aria-label="Font Style" style="margin-left:30% ; width: 30%; margin-top: 5%; " >
            
            <mat-button-toggle value="All" (click)="getAllOrderDetailsForAdmin('All')" style=" padding: 5px; width: 33%;" >All  </mat-button-toggle>
            <mat-button-toggle value="Placed" (click)="getAllOrderDetailsForAdmin('Placed')" style=" padding: 5px;  width: 33.5%;" >Placed</mat-button-toggle>
            <mat-button-toggle value="Delivered" (click)="getAllOrderDetailsForAdmin('Delivered')" style=" padding: 5px; width: 33.5%;" >Delivered</mat-button-toggle>
          </mat-button-toggle-group><br><br>
    
    
        <table mat-table [dataSource]="myOrderDetails" class="mat-elevation-z8 mt-3" >
    
    
           
            <ng-container matColumnDef="OrderId">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> OrderId </th>
                <td mat-cell *matCellDef="let element" class="custom-cell user-name-cell"> {{element.orderId}} </td>
            </ng-container>
    
    
            <ng-container matColumnDef="Product Name">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> Product Name </th>
                <td mat-cell *matCellDef="let element"class="custom-cell user-name-cell"> {{element.product.productName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Customer Name" class="custom-header user-name-header">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let element"class="custom-cell user-name-cell"> {{element.orderFullName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Address">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> Address </th>
                <td mat-cell *matCellDef="let element"class="custom-cell user-name-cell"> {{element.orderFullAddress}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Contact No.">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> Contact No. </th>
                <td mat-cell *matCellDef="let element"class="custom-cell user-name-cell"> {{element.orderContactNumber}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> Status </th>
                <td mat-cell *matCellDef="let element"class="custom-cell user-name-cell"> {{element.orderStatus}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef class="custom-header user-name-header"> Action </th>
                <td mat-cell *matCellDef="let element" class="custom-cell user-name-cell"> 
                    <button *ngIf="element.orderStatus == 'Placed'"mat-raised-button color="warn" (click)="markAsDelivered(element.orderId)">Mark As Delivered</button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
        </table>
    </div>
    </div>