<div style="height: 600px;width: 100%; ">
    
    <img src="/assets/s4newlogo.png" alt="Snow" style="width: 18%;  opacity: 0.2; margin-left: 40%; margin-top: 100px;">
    <h2 style="text-align: center; margin-top: -450px; font-family: 'Times New Roman', Times, serif; font-size: 35px;color: rgb(49, 40, 40);font-weight: 600; ">Disclaimer</h2>
    
   
    
     <h4 style="color: black;margin-right: 80px; margin-left: 10%; margin-top: 70px;font-family: Arial, Helvetica, sans-serif; font-size: 17px; line-height:1.5 ; ">This website contains material protected under local, national and international Trademaek and Copy rights  Laws and Treaties. Unauthorized reprint of this material is prohibited. No part of this website catalogue/book / document may be reproduced, reprinted, transferred or transmitted in any form of printing, electronic, photocopying, recording, or any other way or system without the written permission from the owners/ authors. Trademark 2024, S4TEAS.com India.
 </h4> 
 <br>
 <p style="margin-left: 150px; font-size: 17px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5;margin-right: 80px;">Disclaimer: Any health statements have not been evaluated by the Food and Drug Administration or any statutory authority. The Products on the website are not intended to Diagnose, treat, and cure or prevent any diseases. Like fruits, vegetables and other nutritional foods, teas positive contribution to diet must be seen in the context of a general healthy lifestyle.”</p>
 

<div class="divider2" >
    <i class="fa-solid fa-leaf" style="color: #e69100; font-size: 22px; "></i>
  </div> 
  </div>